html {
    font-size: 20px;
}

ol, ol li {
    font-size: 1.2rem;
    color: rgba(2, 2, 2, 0.5);
}

ul, ul li {
    font-size: 1.2em;
    color: #5ee951;
}

.vh {
    font-size: 5vh;
}

.vw {
    font-size: 10vw;
}