.square {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: darkgray;
}

/* 원래 있었던 자리를 기준으로 옮겨진다*/
.relative-box {
    position: relative;
    background-color: navy;
    top: 10px;  /* 위에서부터 10px 내려간다.*/
    left: 10px;  /* 왼쪽에서부터 10px 오른쪽으로 간다.*/
}

/* 부모에게 relative를 주고 자식들은  absolute 를 주면 편하게 할 수 있다.*/
.absolute-box {
    position: absolute;
    background-color: chocolate;
    top: 30px;
    left: 30px;
}

/* fixed를 하면 창 크기를 바꿔도 계속 따라다닌다. */
.fixed {
    position: fixed;
    background-color: coral;
    bottom: 0px;
    left: 0px;
    height:20px;
}


/* z-index-1 의 부모는body이다 그래서 왼쪽맨위에서 300씩 떨어진다. 이게 absolute */
/* z-index: 1 의 값이 클수록 그림의 위로 간다. 맨위에 있기를 바라는 것에 인텍스 값을 크게 써놓는다. */
/* z-index 값은 상속받기 때문에 내 z-index 값이 99 여도 부모 z-index값이 1이라면 내 z-index 은 1이다. */
.z-index-1 {
    background-color: brown;
    top: 300px;
    left: 300px;
    z-index: 1;
}

.z-index-2 {
    background-color:darkgreen;
    top: 350px;
    left: 350px;
    z-index: 2;
}

.z-index-3 {
    background-color: purple;
    top: 400px;
    left: 400px;
    z-index: 3;
}

/* 정리!!
-static : 기본값
-relative : 현재 위치에서 상하좌우 상대적으로 움직일 수 있게 된다.
            position 적용전(static일때) 기준으로 움직임. 움직인 후 원래 있었던 공간이 유지된
-absolute : 기본 레이어 관계에서 벗어난다. (집나간 자식, 붕뜬다.)
            즉, 다른 도형들도 새로운 자리로 움직이게 된다.
            움직인 후 원래 있었던 공간이 사라진다.
            부모 영역을 벗어나 자유롭게 어디든 위치할 수 있다. 
            부모에 static이외에 position프로퍼티가 지정되어 있을 경우에만 부모를 기준으로 위치하게 된다. 만약 부모, 조상이 모두 static이면 document body를 기준으로 위치하게 된다. 
-fixed : absolute와 동일하게 움직이지만 스크롤이 생길 때 움직이지 않고 고정되어 있다.
        tip: 부모에게 position: relative 를 줘서 자식이 absolute를 받을 때 기준점을 부모로 인식하도록 하는 것이 편하다. */