{"filter":false,"title":"default.config","tooltip":"/project/.ebextensions/default.config","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":26},"end":{"row":5,"column":26},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"a5ada9dcf1f9e86afa754f1700e2e2953ddbb024","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1557991808500}