<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>영화 정보 수정 Form</h1>
    <form action='/movies/{{ movie.id }}/update/'>
        영화제목 : <input type="text" value="{{ movie.title }}" name="title"/><br/>
        영화제목(영문) : <input type="text" value="{{ movie.title_en }}" name="title_en"/><br/>
        누적 관객수 : <input type="text" value="{{ movie.audience }}" name="audience"/><br/>
        개봉일 : <input type="text" value="{{ movie.open_date }}" name="open_date"/><br/>
        장르 : <input type="text" value="{{ movie.genre }}" name="genre"/><br/>
        관람등급 : <input type="text" value="{{ movie.watch_grade }}" name="watch_grade"/><br/>
        평점 : <input type="text" value="{{ movie.score }}" name="score"/><br/>
        포스터 이미지 URL : <input type="text" value="{{ movie.poster_url }}" name="poster_url"/><br/>
        영화소개 : <input type="text" value="{{ movie.description }}" name="description"/><br/>
        <input type="submit" value="Submit"/>
    </form>
    
</body>
</html>