<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!--https://www.google.com/search?q=아이유 -> 구글검색주소-->
    <form action="https://www.google.com/search">
        <input type="text" name="q">
        <input type="submit" value="search">
    </form>

    <!-- target="_blank" 을 붙이면 새창에서 열린다.-->
    <!--
    <form action="https://www.google.com/search" target="_blank">
        <input type="text" name="q">
        <input type="submit" value="search">
    </form>
    -->


</body>

</html>
